.btn {
  background-color: $bluePetrol;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-family: $typoKaushan;
  font-size: 1.3rem;
  display: inline-block;
  position: relative;
  //   &::after,
  //   &::before {
  //     content: "";
  //     display: block;
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     transform: rotate(5deg);
  //     border: 1px solid #277d74;
  //     z-index: -1;
  //   }
  //   &::before {
  //     transform: rotate(-3deg);
  //     border: 1px solid red;
  //   }
  &:hover {
    color: white;
  }
}
