@import "../vars";
.header {
  background-color: $bluePetrol;
  color: white;
  padding: 15px 0;
  h1 {
    font-size: 2.2rem;
  }
  p.titlePage {
    margin: 0;
    line-height: normal;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
