@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Varela+Round&display=swap");

$bluePetrol: #245a65;
$blueMonochrome: #547880;
$typoKaushan: "Kaushan Script", cursive;
$typoValera: "Varela Round", sans-serif;
